body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
header{
	height: 150px;
}
main {
	flex: 1 0 auto;
}
/*i{
	
}*/
.name{
	font-family: 'Montserrat', sans-serif;
}
.dev{
	font-size: 30px;
	color: #e0e0e0;
	font-family: 'Montserrat', sans-serif;
}
.avatar{
	border: 5px solid white;
	max-height: 200px;
	position: relative;
	top: -82px;
}
.no-margin{
	margin: 0;	
}
.icon{
	top: 8px;
    position: relative;
}
.icon-network{
	font-family: 'Montserrat', sans-serif;
	margin: 10px;
}
.ico{
	font-family: 'Montserrat', sans-serif;
}
.bio{
	font-size: 20px;
	margin: 80px;
	font-family: 'Montserrat', sans-serif;
}
.download-resume{
	top: -20px;
	position: relative;
	margin-right: 10px;
	
}